<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :campaign_name %><br>
    <%= f.text_field :campaign_name %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :revenue_type %><br>
    <%= f.number_field :revenue_type %>
  </div>
  <div class="field">
    <%= f.label :campaign_start_date %><br>
    <%= f.datetime_select :campaign_start_date %>
  </div>
  <div class="field">
    <%= f.label :campaign_end_date %><br>
    <%= f.datetime_select :campaign_end_date %>
  </div>
  <div class="field">
    <%= f.label :total_target_view %><br>
    <%= f.number_field :total_target_view %>
  </div>
  <div class="field">
    <%= f.label :total_target_click %><br>
    <%= f.number_field :total_target_click %>
  </div>
  <div class="field">
    <%= f.label :total_target_convertion %><br>
    <%= f.number_field :total_target_convertion %>
  </div>
  <div class="field">
    <%= f.label :user_team_cap %><br>
    <%= f.number_field :user_team_cap %>
  </div>
  <div class="field">
    <%= f.label :user_team_daily_cap %><br>
    <%= f.text_field :user_team_daily_cap %>
  </div>
  <div class="field">
    <%= f.label :user_hourly_cap %><br>
    <%= f.number_field :user_hourly_cap %>
  </div>
  <div class="field">
    <%= f.label :user_cap_reset_time %><br>
    <%= f.number_field :user_cap_reset_time %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
